body {
	margin: 0;
	font-size: 14px;
	font-family: "Helvetica Neue", Helvetica;
}

#chart {	
	top: 50px;
	left: 100px;
}		

#chart>svg {
	padding-left:20px;
}

text.legend {
	-moz-transition: 0.2s !important;
	-webkit-transition: 0.2s !important;
	cursor: pointer;
	font-size: 14px !important;
}

text.legend:hover {
	-moz-transition: 0.2s !important;
	-webkit-transition: 0.2s !important;
	font-size: 17px !important;
}

.legend rect {
	height: 1em;
	width: 1em;
}

circle:hover {
	width: 20px !important;
}

.legend text {
	
}





/* LINE */


.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}